// default.sass
// (c) inoro 2019 GPL v3

// GLOBAL VARIABLES
$def_background_color: #262a2f

$def_font_size: 17px
$def_font_family: "My Courier New", "Courier New"
$def_text_color: #aab1be

$def_a_color: #57b5c1
$def_a_visited_color: #61adee

// ----------------------------------------------------------------------------
body
    margin: 0px
    background-color: $def_background_color

    font-size: $def_font_size
    font-family: $def_font_family
    color: $def_text_color

    text-align: center

// ----------------------------------------------------------------------------
a
    color: $def_a_color

a:visited
    color: $def_a_visited_color

// ----------------------------------------------------------------------------
#backgammonCanvas
    // background-color: #2c3037
    width: 800px
